@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Noto serif', 'Times New Roman', Times, serif
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2E9E4;
  gap: 10px;
  height: 100vh;
}

h1.header {
  font-size: 3rem;
  margin-top: 20px;
}

.header {
  font-size: 1.25rem;
  color: #22223B;
}

.btn svg {
  fill: #22223B;
}

.btn {
  border: 3px solid #22223B;
  background-color: white;
  border-radius: 9px;
  cursor: pointer;
  padding: 3px 20px;
  display: flex;
  align-items: center;
  transition: 50ms;
}

.btn:hover  {
  transform: scale(1.05);
  transition: 50ms;
}

.btn .icon {
  margin-right: 11px;
}

.card {
  padding: 15px;
  border: 5px solid #22223B;
  background-color: #C9ADA7;
  color: #22223B;
  width: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px
}

.card .title {
  font-size: 2rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.controls svg {
  cursor: pointer;
  transition: 50ms;
}

.read-btn {
  background-color: #C52233;
  color: #F2E9E4;
}

.read {
  background-color: #61D095;
  color: #22223B;
}

.controls svg:hover:active {
  transform: scale(1.1);
}

.card-container {
  margin-top: 30px; /* 1%? */
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(242, 233, 228, 0.9);
  opacity: 1;
  transition: opacity 0.15s ease-out;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .modal-container {
    background-color: rgba(242, 233, 228, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}

.modal {
  margin: 160px auto;
  border: 5px solid #22223B;
  background-color: #C9ADA7;
  color: #22223B;
  border-radius: 30px;
  padding: 25px;
  width: fit-content;
  font-size: 1.25rem;
}

.modal input[type='text'],
.modal input[type='number'] {
  width: 250px;
}

.modal h2 {
  font-size: 2rem;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.save-btn {
  background-color: #F2E9E4;
  font-size: 1.25rem;
}

.hide {
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
}

.modal .controls {
  margin-top: 10px;
  width: 100%;
}

.modal .read-btn {
  align-self: stretch;
  justify-content: center;
  font-size: 1.25rem;
}