*, *::after, *::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2E9E4;
  gap: 10px;
}

h1.header {
  font-size: 3rem;
  margin-top: 20px;
}

.header {
  font-size: 1.25rem;
  color: #22223B;
}

.btn svg {
  fill: #22223B;
}

.btn {
  border: 3px solid #22223B;
  background-color: white;
  border-radius: 9px;
  cursor: pointer;
  padding: 3px 20px;
  display: flex;
  align-items: center;
  transition: 50ms;
}

.btn:hover  {
  transform: scale(1.05);
  transition: 50ms;
}

.btn .icon {
  margin-right: 11px;
}

.card {
  padding: 15px;
  border: 5px solid #22223B;
  background-color: #C9ADA7;
  color: #22223B;
  width: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px
}

.card .title {
  font-size: 2rem;
}

.card .controls {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.card .controls svg {
  cursor: pointer;
  transition: 50ms;
}

.card .btn {
  background-color: #C52233;
  color: #F2E9E4;
}

.card .read {
  background-color: #61D095;
  color: #22223B;
}

.card .btn:hover {
  background-color: #8ACDEA;
  color: #22223B;
}

.card .controls svg:hover {
  transform: scale(1.1);
}

.card-container {
  margin-top: 30px;
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}